body {
    background: aliceblue;
}

#gel-analysis__container {
    padding: 20px;
    background: antiquewhite;
}

#gel-analysis-upload {
    display: inline-block;
    vertical-align: top;
}

#gel-analysis-form {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.cropper-container {
    display: inline-block;
    width: 60% !important;
}

#the-file {

}

#gel-image {
    width: 500px;
}

.upload-setting-item__container {

}

#gel-analysis-result {
    display: inline-block;
}

#gel-analysis-result img {
    width: 500px;
}


